<!-- 搜索遮罩框 -->
<div id="searchModal" class="modal">
    <div class="modal-content">
        <div class="search-header">
            <span class="title"><i class="fa fa-search"></i>&nbsp;&nbsp;<%= __('search') %></span>
            <input type="search" id="searchInput" name="s" placeholder="<%= __('searchTip') %>"
                   class="search-input">
        </div>
        <div id="searchResult"></div>
    </div>
</div>
<!--/js/search.js-->
<script src="https://cdn.jsdelivr.net/gh/coderluojust/CDN/dist/search.js"></script> 
<script type="text/javascript">
$(function () {
    searchFunc("<%= config.root %>" + "search.xml", 'searchInput', 'searchResult');
});
</script>